.pic-1{
    height: 333px;
    width: 282px;
    border-radius: 17px;
}
.post{
    background-color: #1b1b1b;
    border-radius: 17px;
    width: 270px;
    height: 337px;
}
.Ev{
    color: #FFFFFF;
    font-size: 29px;
}